@font-face {
    font-family: webFont, 'Times New Roman', Times, serif;
    src: url(fonts/Dosis-Regular.tff) format("truetype");
}
@font-face {
    font-family: webFont, 'Times New Roman', Times, serif;
    src: url(fonts/Dosis-Bold.tff) format("truetype");
    font-weight: bold;
}

* {
    font-family: webFont;
    text-align: center;
}

body {
    background-color: rgb(255, 171, 75);
    color: rgb(255, 248, 235);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header, #constructionMessage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pageContainer {
    width: 70%;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.page>div{
    background-color: rgb(228, 121, 13);
    padding: 50px 50px 50px 50px;
    border-radius: 50px;
    border-width: 10px;
    border-style:solid;
    border-color: rgb(255, 199, 95);
}

/*HOME PAGE*/
#pageContainer>div:nth-of-type(1)>div:nth-of-type(-n + 3) {
    flex-grow: 1;
}
#pageContainer>div:nth-of-type(1)>div:nth-of-type(4) {
    width: 30%;
    height: 300px;
}


#changelogContainer {
    overflow-y: auto;
}

/*ABOUT PAGE*/

/*READ PAGE*/
#pageContainer>div:nth-of-type(3) {
    flex-direction: row;
}
#pageContainer>div:nth-of-type(3)>h2, #pageContainer>div:nth-of-type(4)>h2 {
    width: 100%;
}
#pageContainer>div:nth-of-type(3)>div:nth-of-type(-n + 2) {
    flex-grow: 1;
    width: 35%;
}
#pageContainer>div:nth-of-type(3)>div:nth-of-type(3) {
    width: 100%;
}
#pageContainer>div:nth-of-type(3)>div:last-child {
    width: 100%;
}

/*CHARACTER PAGE*/
#pageContainer>div:nth-of-type(4) {
    flex-direction: column;
}

@media screen and (max-width:800px)
{

}